<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stars.css') }}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/favicon.png') }}">
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='image/favicon.gif') }}">

    <script src="{{ url_for('static', filename='script/base.js') }}" defer></script>
    <script src="{{ url_for('static', filename='script/api.js') }}" defer></script>
    {% endblock %}
</head>
<body>
    <ul class="topnav">

        <li class="search">
            {% block sort_recipes %}{% endblock %}
            <div class="search-input">
                <input type="text" id="search" value="{{ search_words or '' }}" data-url="{{ url_for('book.index') }}">
            </div>
            <div class="toggle">
                <div class="toggle-bar"></div>
                <div class="toggle-bar"></div>
                <div class="toggle-bar"></div>
            </div>
        </li>

        <li class="flex-break"></li>
        <li class="submit">
            <a href="{{ url_for('book.index') }}">Home</a>
        </li>

        <li class="flex-break"></li>
        <li class="submit">
            <a href="{{ url_for('book.new_recipe') }}">Neu</a>
        </li>

        <li class="flex-break"></li>
        <li class="submit">
            <a id="user-control" href="{{ url_for('social.profile', uid=u['uid']) }}">
                {{ u['username'] }}
                {% if u['notifications'] > 0 %}
                    <div class="num-user-notifications">{{ u['notifications'] }}</div>
                {% endif %}
            </a>
        </li>

    </ul>

    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
