{% extends 'base.html' %}
{% block title %}Kooking Konni{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <script src="{{ url_for('static', filename='script/index.js') }}" defer></script>
{% endblock %}
{% block content %}
    <ul id="recipes">
        {% for r in rs %}
            <li class="recipe" data-keywords="{{ r.keywords }}">
                <div class="header">
                    <div class="title"><a href="{{ url_for('book.recipe', rid=r.rid) }}">{{ r.name }}</a></div>
                    <div class="rating">{{ r.rating }}</div>
                </div>
                <img id="image" src="{{ url_for('static', filename='image/' + r.image) }}" alt="{{ r.name }} image">
            </li>
        {% endfor %}
    </ul>
{% endblock %}
