#content {
    width: 80%;
    margin: auto;
}

#change-form .pair {
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

#change-form .pair label {
    font-size: 1.5em;
}

#change-form input {
    border-top: none;
    border-left: none;
    border-right: none;
}

#change-form .pair input {
    padding: 0.5em;
    font-size: 1.25em;

}

/* Circumvent file input styling */
#change-form input[type="file"] {
    display: none;
}
#change-form #file-input-decoy {
    font-size: 1.25em;
    padding: 1.25em;
    display: flex;
    justify-content: center;
    border: 0.01em dashed #626262;
    border-radius: 0.5em;
}
#change-form #file-input-decoy:hover {
    cursor: pointer;
}

/* Hide arrows on number input */
#change-form input::-webkit-outer-spin-button,
#change-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#change-form input[type=number] {
  -moz-appearance: textfield;
}

#change-form textarea {
    max-width: 100%;
    height: 10em;
}

#change-form #tb-ings {
    margin: auto;
}

#change-form #tb-ings input,
#change-form #tb-ings th {
    font-size: 1.1em;
    padding: 0.2em;
}

#change-form #tb-ings input.amount {
    text-align: end;
}

#change-form .minus svg,
#change-form .plus svg {
    width: 1.75em;
    height: auto;
    stroke-width: 0.35em;
}

#change-form .minus svg:hover,
#change-form .plus svg:hover {
    cursor: pointer;
}

#change-form #tb-ings {
    width: 90%;
    table-layout: fixed;
}

#change-form #tb-ings td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

#change-form #tb-ings .ctrl {
    width: 8%;
}

#change-form #tb-ings .col-amount {
    width: 12%;
}

#change-form #tb-ings .col-unit {
    width: 30%;
}

#change-form #tb-ings .col-name {
    width: 50%;
}

#change-form #tb-ings .amount,
#change-form #tb-ings .unit,
#change-form #tb-ings .name {
    width: 90%;
}

#change-form #buttons {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
}

#change-form #buttons button {
    padding: 0.25em;
    font-size: 1em;
}


@media screen and (max-width: 800px) {

    #content {
        width: 100%;
        margin: 0 0 2em 0;
    }

    #change-form .minus svg,
    #change-form .plus svg {
        width: 1.5em;
        height: auto;
        stroke-width: 0.25em;
    }

    #change-form #tb-ings input,
    #change-form #tb-ings th {
        font-size: 0.8em;
        padding: 0.05em;
    }

    #change-form #tb-ings {
        width: 100%;
    }

    #change-form #tb-ings .amount,
    #change-form #tb-ings .unit,
    #change-form #tb-ings .name {
        width: 100%;
    }

}