#content {
    width: 70%;
    margin: auto;
}

#recipe #header {
    margin: 2em 0 2em 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recipe #name {
    font-size: 2.25em;
}

#recipe #header svg {
    height: 2.25em;
    width: auto;
}

#recipe #header .stars {
    width: 12em;
}

#recipe #modify {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

#recipe #modify a,
#recipe #modify > div {
    padding: 0.5em;
}

#recipe #modify svg {
    width: 1.75em;
    height: auto;
}

#recipe #modify svg:hover {
    cursor: pointer;
}

#recipe #image {
    display: block;
    border: 0.01em solid #ddd;
    border-radius: 0.5em;
    margin: 3em auto 3em auto;
    padding: 0.5em;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 0.1em 0.05em rgba(0, 140, 186, 0.5);
}

#portions-flex {
    display: flex;
    justify-content: center;
    margin: auto;
}

#portions-container {
    border: 0.01em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 0 0.1em 0.05em rgba(0, 140, 186, 0.5);
}

#recipe #portions {
    padding: 0.7em;
    font-size: 1.15em;
    text-align: center;
    max-width: 5em;
    border: none;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

#recipe #portions-flex label {
    padding: 0.7em;
    font-size: 1.25em;
    border: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#recipe #all-tb-ings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

#recipe #all-tb-ings .tb-ings-title{
    display: flex;
    justify-content: center;
    padding: 0.25em;
    font-size: 1.25em;
}

#recipe table {
    margin: 1em auto 2em auto;
    border-radius: 0.5em;
    box-shadow: 0 0 0.1em 0.05em rgba(0, 140, 186, 0.5);
}

#recipe table, #recipe td {
    padding: 0.5em;
    font-size: 1.05em;
    border-spacing: 0;
}

#recipe td.td-amount {
    text-align: right;
    min-width: 5em;
}

#recipe tr {
    min-height: 10em;
}

#recipe tr:nth-child(even){
    background-color: #d5d5d5;
}

#recipe #instructions {
    margin: auto;
    padding: 0.5em;
    font-size: 1.15em;
    border: 0.01em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 0 0.1em 0.05em rgba(0, 140, 186, 0.5);
}

#recipe #footer {
    margin: 2em auto 2em auto;
    display: flex;
    justify-content: space-between;
        flex-direction: column;

}

#recipe #footer #author {
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    margin: 0.5em;
    padding: 0.5em;
}

#recipe #footer #tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#recipe #footer .tag {
    margin: 0.5em;
    padding: 0.5em;
    border: 0.01em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 0 0.1em 0.05em rgba(0, 140, 186, 0.5);
    transition: 0.3s;
}

#recipe #footer .tag:hover {
    box-shadow: 0 0.3em 0.6em 0 rgba(0, 0, 0, 0.4);
}

#comments {
    margin: 2em auto auto auto;
}

#comments #comment-title {
    font-size: 1.75em;
    margin: 1em auto 1em auto;
}

#comments #comment-form #user-rating {
    display: flex;
    padding: 0.5em;
}

#comments #comment-form #user-rating svg {
    height: 1.5em;
    width: auto;
}

#comments #comment-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#comments #comment-form textarea {
    width: 100%;
    min-height: 8em;
    font-size: 1.1em;
    padding: 1em;
}

#comments #comment-form #user-comment-buttons {
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
}

#comments #comment-form button {
    padding: 0.25em;
    font-size: 1em;
}

#comments .comment {
    width: 100%;
    margin: 2em auto 2em auto;
    padding: 0.5em;
    white-space: pre-line;
    border: 0.01em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 0 0.1em 0.05em rgba(0, 140, 186, 0.5);
}

#comments .comment .modify {
    padding: 0.5em;
    float: right;
}

#comments .comment .modify:hover {
    cursor: pointer;
}

#comments .comment .comment-content {
    padding: 0.5em;
    font-size: 1.15em;
}

#comments .comment .author {
    display: flex;
    justify-content: flex-end;
}

a {
    padding: 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
    color: black;
}

a:hover {
    box-shadow: 0 0.3em 0.6em 0 rgba(0, 0, 0, 0.4);
}

#comment-title {
    display: flex;
}

.comment-sort {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.3em;
    border: 0.01em solid #2a2a2a;
    margin-left: 0.35em;
    transition: 0.3s;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.comment-sort:hover {
    cursor: pointer;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.4);
}


@media screen and (max-width: 900px) {

    #content {
        width: 100%;
    }

    #recipe #header {
        flex-direction: column;
        margin: 0;
    }

    #recipe #header #name {
        font-size: 2em;
    }

    #recipe #header svg {
        height: 1.75em;
    }

    #recipe #image {
        max-width: 85%;
    }

    #recipe #instructions,
    #recipe #footer,
    #comments #comment-title,
    #comments #comment-form,
    #comments #comment-form textarea,
    #comments .comment {
        max-width: 90%;
    }

    #recipe #header .stars {
        width: 10em;
    }

}