{% extends 'base.html' %}
{% block title %}{{ r.name }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/recipe.css') }}">
    <script src="{{ url_for('static', filename='script/recipe.js') }}" defer></script>
{% endblock %}
{% block content %}
    <div id="recipe">

        <div id="header">
            <div id="name">{{ r.name }}</div>
            <div id="rating">
                {% include 'svg/stars.html' %}
            </div>
        </div>

        {% if r.uid == u.uid %}
            <div id="modify">
                <a href="{{ url_for('book.edit_recipe', rid=r.rid) }}">{% include 'svg/edit.html' %}</a>
                <a href="{{ url_for('book.delete_recipe', rid=r.rid) }}">{% include 'svg/delete.html' %}</a>
            </div>
        {% endif %}

        {% if r.image|length %}
            <img id="image" src="{{ url_for('static', filename='image/' + r.image) }}" alt="{{ r.name }} image">
        {% endif %}

        <div id="portions-flex">
            <div id="portions-container">
                <input id="portions" type="number" autocomplete="off" value="{{ r.portions }}">
                <label for="portions">Portionen</label>
            </div>
        </div>

        <table id="tb-ings">
            {% for ing in r.ingredients %}
                <tr>
                    <td class="td-amount">
                        <div class="amount">{{ ing['amount'] }}</div>
                    </td>
                    <td class="td-unit">
                        <div class="unit">{{ ing['unit'] }}</div>
                    </td>
                    <td class="td-name">
                        <div class="name">{{ ing['name'] }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="instructions">
            {% for instruction in r.instructions.split('\n') %}
                <p class="instruction">{{ instruction }}</p>
            {% endfor %}
        </div>

        <div id="footer">
            <div id="tags">
                {% for tag in r.tags.split(' ') %}
                    <div class="tag">{{ tag }}</div>
                {% endfor %}
            </div>

            <div id="author">{{ r.author }}, {{ r.time }}</div>
        </div>
    </div>

    <div id="comments">

        <div id="comment-title">Kommentare</div>

        <div id="comment-form">
            {# set data-stars and .post in JS #}
            <div id="user-rating" data-stars="{{ u.rating }}">{% include 'svg/stars.html' %}</div>
            <form method="post">
                <textarea id="user-comment" name="user-comment" required></textarea>
                <div id="user-comment-buttons">
                    <button type="reset">Abbrechen</button>
                    <button type="submit">Speichern</button>
                </div>
            </form>
        </div>

        <div id="comment-section">
            {% for c in cs %}
                <div class="comment">
                    {% if c.uid == u.uid %}
                        <div class="modify">
                            <a href="{{ url_for('book.delete_comment', rid=r.rid, cid=c.cid) }}">{% include 'svg/delete.html' %}</a>
                        </div>
                    {% endif %}
                    <div class="comment-content">{{ c.comment }}</div>
                    <div class="author">{{ c.author }}, {{ c.time }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}