{% extends 'base.html' %}
{% block title %}{{ r.name }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <script src="{{ url_for('static', filename='script/recipe.js') }}" defer></script>
{% endblock %}
{% block content %}
    <div id="recipe">

        <div id="header">
            <div id="name">{{ r.name }}</div>
            <div id="rating">{{ r.rating }}</div>
        </div>

        <img id="image" src="{{ url_for('static', filename='image/' + r.image) }}" alt="{{ r.name }} image">

        <table id="tb-ings">
            <tr>
                <th><input id="portions" type="number" autocomplete="off" value="{{ r.portions }}"></th>
                <th colspan="2"><label class="portions-label" for="portions">Portionen</label></th>
            </tr>
            {% for ing in ings %}
                <tr>
                    <td class="td-amount">
                        <div class="amount">{{ ing['amount'] }}</div>
                    </td>
                    <td class="td-unit">
                        <div class="unit">{{ ing['unit'] }}</div>
                    </td>
                    <td class="td-name">
                        <div class="name">{{ ing['name'] }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="instructions">
            {% for instruction in r.instructions.split('\n') %}
                <p class="instruction">{{ instruction }}</p>
            {% endfor %}
        </div>

        <div id="footer">
            <div id="tags">
                {% for tag in r.tags.split(' ') %}
                    <div class="tag">{{ tag }}</div>
                {% endfor %}
            </div>

            <div id="author">{{ author }}</div>
        </div>
    </div>
{% endblock %}